*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        #e92e3d,
        #ff6e6a
    ) 0 100% no-repeat;
    background-size: 100% 50%;
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100vh;
    
}
/*
rgb(65, 182, 54);*/
.player {
    text-align: center;
    width: 200px;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: #090909;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    padding: 20px;
}

#player1 {
    text-align: center;
    width: 200px;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: #090909;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    padding: 20px;
}
#player2{
    text-align: center;
    width: 200px;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: #090909;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    padding: 20px;
}


















.container{
    width: 400px;
    padding: 16.96vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
}
.dice-wrapper{
    width: 90%;
    display: flex;
    justify-content: center;
}
p{
    font-size: 16px;
    margin: 30px 0;
    font-weight: 500;
}
button{
    background-color: #e92e3d;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}

marquee {
    color: #e92e3d;
    padding-top: 20px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 51px;
    z-index: 1;
}

span{
    font-family: Arial, Helvetica, sans-serif;
    color: #090909;
    font-weight: bold;
    font-size: 16px;
}

h1{
padding-bottom: 40px;
text-align: center;


}

.mainbtns{
    display: flex;
    flex-direction: column;
    align-items: center
    
}

#NEWGAME{
    position: absolute;
    bottom: 11px;
    padding: 0px;
    background: linear-gradient(#401b7e ,rgb(136, 26, 155));
}


.rolling {
    position: relative;
    bottom: 12px;
}

h2{
color: #c1dd20;
padding-bottom: 2px;
display: none;


}

#winner1{
animation: winner-animation 3s ease-in-out;
}

@keyframes winner-animation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}




#winner1{
    display: none;
}
#winner2{
    display: none;
}





#winner2 {
    animation: winner-animation 3s ease-in-out;
}

@keyframes winner-animation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}



a{
        background-color: #e92e3d;
            border: none;
            outline: none;
            color: #ffffff;
            padding: 10px 0;
            padding-inline: 25px;
            width: 150px;
            letter-spacing: 1px;
            border-radius: 5px;
            cursor: pointer;
        }







.gamename {
    font-size: 250%;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    right: 21%;
    left: 22%;
    top: 18%;
    bottom: 51%;
    z-index: 1;
    text-shadow: 2px 2px #FF0000;
}


#ROLLTHEDICE{
    display: inline-block;
    padding-inline: 10px;
    padding: 12px;
    margin: 20px;
    letter-spacing: 1px;
        border-radius: 5px;
    
    }

